doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="css/template.css")
    link(rel="stylesheet" href="css/404.css")
    link(rel="shortcut icon" href="assets/favicons/404.png")
    title Not Found
  body 
    h1.error
      img(src="assets/img/zombie_head.png")
      span.number 404
      span.text NOT FOUND